The Shopping Cart lets users add, remove, and check items out.
They can add an item that was not already added.
The checkout process returns a receipt that holds the subtotal, tax, and total.

               Test Cases
----------------------------------------
- adding an item if not already added
    - test if item will be added
    - test if item already added will not be added
- removing an item
    - test if item will be removed
    - test if illegalstateexception will raise if cart is empty
- checkout
    - subtotal is right
    - tax is right
    - total is right
    - illegalstateexception if cart is empty